Backend/env
Frontend/node_modules
Backend/hfl/settings.py
Backend/static
Backend/hfl/media/
Backend/db.sqlite3
Backend/hfl/public
Backend/build/
Backend/uploads/
Backend/exports
Frontend/static
Backend/exports
cloud_sql_proxy
Frontend/build
Backend/venv
venv
Backend/media
Backend/hfl/..media
node_modules
.idea
Backend/hfl/*.pyc
# Elastic Beanstalk Files
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
*.pyc
.env
hfl.sql
Backend/frontend/static
Backend/.elasticbeanstalk/app_versions
Backend/.env*